.WrapperHeader {
    color: #000;
    font-size: 30px;
}

.WrapperSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.WrapperAddUser {
    height: 50px;
    width: 150px;
    margin-top: 10px;
    border-radius: 6px;
    border-style: dotted;
    color: #fff;
    background-color: #76b8bf;

    &:hover,
    &:focus {
        background-color: #76b8bf !important;
        border-color: #76b8bf !important;
        color: #fff !important;
        box-shadow: none !important;
    }
}

.WrapperDate {
    margin-right: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.WrapperTotal {
    font-size: 16px;
    text-align: center;
    padding: 25px;
}
