.WrapperNavBar {
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    height: fit-content;
}

.WrapperProducts {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.WrapperNavbar {
    background-color: #fff;
    height: auto;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
