.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    padding: 50px 0 50px 50px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
}

.WrapperButtonBuy {
    background: rgb(255, 66, 78);
    padding: 8px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    width: 384px;
    height: 40px;
    font-size: 16px;

    &:hover {
        background-color: rgb(255, 66, 78) !important;
        border-color: rgb(255, 66, 78) !important;
        color: rgb(255, 255, 255) !important;
        box-shadow: none !important;
    }

    &:disabled {
        background: rgb(255, 66, 78);
        color: rgb(255, 255, 255);
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.WrapperLoginLeft {
    padding-right: 30px;
}

.WrapperLoginRight {
    margin-left: 20px;
    background: linear-gradient(
        136deg,
        rgb(240, 248, 255) -1%,
        rgb(219, 238, 255) 85%
    );
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    border-radius: 10px;
}
