@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
/* @import 'antd/dist/antd.css'; */

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6 rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.tsqd-parent-container {
    display: none;
}

.ant-menu-light .ant-menu-item-selected {
    color: #007784;
    background-color: #cfedef;
}

/* Thay đổi màu chữ của thead trong bảng Ant Design */
.ant-table-thead > tr > th {
    background-color: #d6d6d6 !important;
}

div#paypal-button-container {
    display: block !important;
}

:where(.css-dev-only-do-not-override-1htoz2s).ant-menu-light
    .ant-menu-submenu-selected
    > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1htoz2s).ant-menu-light
    > .ant-menu
    .ant-menu-submenu-selected
    > .ant-menu-submenu-title {
    color: #000 !important;
}
