.WrapperHeader {
    color: #000;
    font-size: 30px;
}

.WrapperAddUser {
    height: 50px;
    width: 150px;
    margin-top: 10px;
    border-radius: 6px;
    border-style: dotted;
    color: #fff;
    background-color: #76b8bf;

    &:hover,
    &:focus {
        background-color: #76b8bf !important;
        border-color: #76b8bf !important;
        color: #fff !important;
        box-shadow: none !important;
    }
}
